#main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#main-title {
	background-color: #c73220;
	padding: 15px 0 15px 0;
	position: -webkit-sticky; /* Safari & IE */
	position: sticky;
	top: 0;
	z-index: 1;

}

#title {
	text-align: center;
	padding: 20px 0 0 0;
	color: white;
}

#sub-title {
	text-align: center;
	padding: 0 0 20px 0;
	color: white;
}

#img-div {
	width: auto;
	height: auto;
	background-color: #060606;
	padding: 0 0 8px 0;
}

#image {
	width: 100%;
	height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}  

#img-caption {
	font-size: 12px;
    font-style: oblique;
    max-width: 86%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    color: white;
}

#content {
	background-color: #eaeaea;
	padding: 20px 0 0 0;
	letter-spacing: 0.1em;
}

#content div{
	max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px 40px 40px 40px;
}

#tribute-link button {
	margin-left: auto;
    margin-right: auto;
    display: block;	
    padding: 15px 32px;
    font-size: 15px;
    background-color: #c73220;
    border: 0px;
}

#tribute-link a {
	text-decoration: none;
	color: white;
}

#tribute-link button:hover {
	background-color: grey;
	color: white;
	border: 0;
}

#tribute-link a:hover {
	color: #c73220;
}

#nav {
	z-index: 1;
    position: sticky;
    top: 160px;
    background-color: white;
    padding: 5px;
    border-top: 2px solid grey;
}

#nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#nav ul li{
    padding: 0 40px 0 0;
    list-style: none;
    font-weight: 600;
}
#nav ul li a{
	text-decoration: none;
    color: black;
}

#nav ul li a:hover{
	text-decoration-line: underline;
    text-underline-offset: 10px;
    color: #c73220;
}
