body {
	color: #024249;
}
.row-flex {
	display: flex;
	/*width: 95%;*/
	flex-direction: row;
}

.column-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
}

.col-20 {
	flex: 20%;
}

.col-80 {
	flex: 80%;
}

#sidebar {
	background-color: #FA744F;
	height: 580px;
	position: fixed;
	width: 200px;
}

#content {
	 margin-left: 200px;
	 padding: 10px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;

}

li a {
  display: block;
  color: white;
  padding: 15px 16px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

#portfolio li {
	background-color: #ededed;
	border: 1px solid white;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#portfolio li a{
	color: #024249;
}

#portfolio li a:hover{
	color: white;
}

.active-li {
	background-color: #555 !important;
}
.active-li a {
	color: white;
}

#title {
	color: white;
	padding: 16px;
	background-color: #024249;
	text-align: center;

}

#landing-page {
	background-color: #ededed;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
	padding: 50px;
}
#portfolio {
	background-color: #16817A;
	clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
	padding: 50px;
	color: white;
}