.row-flex {
	display: flex;
	/*width: 95%;*/
	flex-direction: row;
	justify-content: center;
	padding: 40px 0 0 0;
}

.column-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 15px;
}

#main {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#main-title {
	position: absolute;
  top: 47%;
  left: 38%;
  transform: translate(-50%, -50%);
}

.full-width {
	width: 100%;
}

#image {

	height: 550px;

}


#quotes h2 {
	font-size:  3rem;
	text-align: center;
}

#title {
	font-size: 5em;
	font-family: 'Balsamiq Sans', cursive;
	letter-spacing: 5px;
	color: white;
}

#img-caption {
	font-style: italic;
   color: grey;
   text-align: center;
}

#quotes {
	padding: 25px 0 40px 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: white;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 100%;
  margin: -17px 0 0 0;
  background-color: #f7f7f7;
  padding: 50px;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #f03f2d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

.parallax {
  /* The image used */
  background-image: url("images/wt_hidilyn-diaz.webp");
  clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url("images/medal.jpg");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  padding: 15px;
  letter-spacing: .5px;
  border: 0;
  border-radius: 8px;
}

#tribute-link {
	background-color: #f7f7f7;
	padding: 50px;
  display: flex;
  justify-content: center;
}

#tribute-link button {
	text-decoration: none;
	background-color: #f03f2d;
} 

#tribute-link a {
	text-decoration: none;
	color: white;
}