.row-flex {
	display: flex;
	/*width: 95%;*/
	flex-direction: row;
	justify-content: center;
	padding: 40px 0 0 0;
}

.column-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.col-50 {
	flex: 49%;
}

.text-center {
	text-align: center;
}

#title {
  margin-left: 30px;
  margin-right: 50px;
  padding: 10px 20px 20px 0;
}
#sub-title {
	color: grey;
  margin-left: 60px;
  margin-right: 50px;
  padding: 0 20px 20px 0;
}

.float-left {
	float: right;
    padding: 22px 12px 0 0;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=number] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus {
  background-color: #edf2fb;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 70%;
  float: left;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  padding: 15px;
  letter-spacing: .5px;
  border: 0;
  border-radius: 8px;
  width: 70%;
}

.btn-submit {
	box-shadow: 0 2px 6px #218485;
	background-color: #218485;
	color: white;
}

.btn-submit:hover {
	/*box-shadow: 0 2px 6px #008CBA;*/
	background-color: white;
	color: #218485;
}


*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}


/* Form Progress */
.progress {
  width: 50%;
  /*margin: 20px auto;*/
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  /*top: -33px;*/
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
/*.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}*/

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
  color: #FFF;
  background: #218485;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #218485;
  background: #FFF;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: #0c95be;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 500px) {
  .row-flex  {
    flex-direction: column;
  }
}