.row-flex {
	display: flex;
	/*width: 95%;*/
	flex-direction: row;
	justify-content: center;
}

.flex {
  display: flex;
}
.column-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.col-20 {
	flex: 20%;
}

.col-80 {
  flex: 80%;
}

.col-50 {
  flex: 50%;
}

.text-center {
	text-align: center;
}

#title {
  text-align: center;
}

#sub-title {
	color: grey;
  text-align: center;
}

#image {
  padding: 27px 0 0 0;
}

#form div {
  padding: 10px 10px 10px 0;
}

#content div {
  width: 96%;
}
/* Full-width input fields */
input[type=text], input[type=email], input[type=number], select, textarea{
  padding: 12px;
  margin: 3px 0 13px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, select:focus, textarea:focus {
  background-color: #edf2fb;
  outline: none;
}

textarea {
  width: 96%;
}

#checkbox div{
  padding: 0 0 5px 0;
}

#checkbox label {
    font-size: 1rem;
}

#radio div{
  padding: 3px 0 5px 0;
}

#radio label {
    font-size: 1rem;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 70%;
  float: left;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  padding: 15px;
  letter-spacing: .5px;
  border: 0;
  border-radius: 8px;
  width: 100%;
}

.btn-submit {
	box-shadow: 0 2px 6px #218485;
	background-color: #218485;
	color: white;
  float: right;
}

.btn-submit:hover {
	/*box-shadow: 0 2px 6px #008CBA;*/
	background-color: white;
	color: #218485;
}

#btn-div {
  float:right; 
  margin-right: 190px;
}

#btn-div button {
  border-radius: 8px;
}

button {
  background-color: white;
  box-shadow: 0 2px 6px #218485;
  color: #218485;
  font-weight: 600;
  font-size: 12px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}
/* Hide all steps by default: */
.tab {
  display: none;
}

button:hover {
  opacity: 0.8;
}

