.row-flex {
	display: flex;
	/*width: 95%;*/
	flex-direction: row;
	justify-content: center;
}

.flex {
  display: flex;
}
.column-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.col-20 {
	flex: 20%;
}

.col-80 {
  flex: 80%;
}

.col-50 {
  flex: 50%;
}

.text-center {
	text-align: center;
}

#title {
  text-align: center;
}

#sub-title {
	color: grey;
  text-align: center;
}

#image {
  padding: 27px 0 0 0;
}

#form div {
  padding: 10px 10px 10px 0;
}

#content div {
  width: 96%;
}
/* Full-width input fields */
input[type=text], input[type=email], input[type=number], select, textarea{
  padding: 12px;
  margin: 3px 0 13px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, select:focus, textarea:focus {
  background-color: #edf2fb;
  outline: none;
  box-shadow: 0 0px 2px #218485;
}

textarea {
  width: 96%;
}

#checkbox div{
  padding: 0 0 5px 0;
}

#checkbox label {
    font-size: 1rem;
}

#radio div{
  padding: 3px 0 5px 0;
}

#radio label {
    font-size: 1rem;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 70%;
  float: left;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  padding: 15px;
  letter-spacing: .5px;
  border: 0;
  border-radius: 8px;
  width: 100%;
}

.btn-submit {
	box-shadow: 0 2px 6px #218485;
	background-color: #16817A;
	color: white;
  float: right;
}

.btn-submit:hover {
	/*box-shadow: 0 2px 6px #008CBA;*/
	background-color: #FA744F;
	color: white;
}


button {
  background-color: white;
  box-shadow: 0 2px 6px #218485;
  color: #218485;
  font-weight: 600;
  font-size: 12px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}
/* Hide all steps by default: */
.tab {
  display: none;
}

button:hover {
  opacity: 0.8;
}


@media only screen and (min-width: 900px) and (max-width: 1024px) {
  #main {
    flex-direction: column;
    padding: 10px;
  }

  #image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 250px;
  }

  #form {
    padding: 10px;
  }

  #content div {
    width: 99%;
  }

  #btn-action {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.inline-item {
  display: inline;  the default for span 
  width: 100px;
  /*text-align: center;*/
}

.inline-group h5 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.inline-group-div {
  padding: 28px;

}

#go-back {
  width: 200px;
  margin-right: 10px;
}

#go-back a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 701px) and (max-width: 899px) {
  #main {
    flex-direction: column;
    padding: 10px;
  }

  #image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 230px;
    height: 230px;
  }

  #content div {
    width: 99%;
  }
  
}

@media only screen and (min-width: 200px) and (max-width: 700px) {
  #main {
    flex-direction: column;
    padding: 10px;
  }

  #image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 200px;
  }

  #form {
    flex-direction: column;
  }

  #content div {
    width: 99%;
  }

  #image {
    padding: 0px;
  }
}
