.grid {
	display: grid;
}
.board {
}
.square{
	width: 12.5%;
	height: 12.5%;
	line-height: 12vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	line-height: 56px;
}


.black-square {
	background-color: #D49A89;

}

.white-square {
	background-color: #F7D1BA;
}

.p1 {
	color: #557571;
	text-shadow: 0 3px #F4F4F4;
}

.p2 {
	color: #F4F4F4;
	text-shadow: 0 3px #557571;
}