.grid {
	display: grid;
}

#board {
	width: 500px;
	height: 500px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:;
    margin: auto;
    grid-gap: 1px;
    box-shadow: 0 10px 10px -5px rgb(85, 117, 113);
    border: 4vw solid transparent;
}

.square{
	width: 60px;
	height: 60px;
	line-height: 12vw;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	line-height: 56px;
}

.black-square {
	background-color: #D49A89;

}

.white-square {
	background-color: #F7D1BA;
}

.p1 {
	color: #557571;
	text-shadow: 0 3px #F4F4F4;
}

.p2 {
	color: #F4F4F4;
	text-shadow: 0 3px #557571;
}