body {
	font-family: 'Gaegu', cursive;
	background-color: white;
}

#main {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 570px 600px 600px 400px 500px 300px;
	grid-template-areas:
		"nav"
		"poster"
		"why"
		"faq"
		"parallax"
		"location"
		"footer";
}

#nav {
	grid-area: nav;
	background-color: #6148BF;
}

#poster {
	grid-area: poster;
	background-color: blue;
	background-image: url('./images/pages/figma-layout/1.png'); 
  background-repeat: no-repeat;
  background-size: cover;
}

#why {
	grid-area: why;
	/*background-color: #6148BF;*/
	background-image: url('./images/pages/figma-layout/7.png'); 
}

#faq {
	grid-area: faq;
	/*background-color: #FFAADA;*/
	background-image: url('./images/pages/figma-layout/8.png'); 
}

#center-location {
	grid-area: location;
	/*background-color: #FFAADA;*/
	background-image: url('./images/pages/figma-layout/9.png'); 
}

#about {
	grid-area: footer;
	background-color: #6148BF;
}

.parallax {
  background-image: url('./images/parralax.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: parallax;
}