body {
	font-family: 'Gaegu', cursive;
	background-color: white;
}

.title {
	text-align: center;
	padding-top: 50px;
}

#main {
	display: flex;
	flex-direction: column;
}

#nav {
	display: flex;
  flex-direction: row;
  background-color: #512D6D;
  height: 50px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 8px;
  right: 8px;
  justify-content: space-between;
  z-index: 9999;
}

#nav ul {
	list-style: none;
}

#nav li {
	    padding: 0 50px 0 0;
}

#items {
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
}

#nav img {
	width: 40px; 
	height: 40px
}

/*#poster {
	grid-area: poster;
	background-color: blue;
	background-image: url('./images/pages/figma-layout/1.png'); 
  background-repeat: no-repeat;
  background-size: cover;
}*/

#poster {
	height: 600px;
	background-color: #6148BF;
	background-image: url("./images/wave.png");
	background-repeat: no-repeat;
  background-size: 100% 100%;
}

#why {
	background-color: white;
	height: auto;
	color: #6148BF;
	padding-bottom: 50px;
}

.card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 20px;
}

.card {
	overflow: hidden;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 14px rgb(0 0 0 / 25%);
  position: relative;
  width: 25%;
  height: auto;
}

.card:hover {
	box-shadow: 2px 2px 14px #F8485E;
}
.card img {
	width: 250px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
}

.card-content {
	text-align: center;
}

#faq {
	height: 600px;
	background-color: #F8485E;
	color: white;
	/*background-image: url('./images/pages/figma-layout/8.png'); */
}

#center-location {
	height: 500px;
	background-color: #F8485E;
	/*background-image: url('./images/pages/figma-layout/9.png'); */
	display: flex;
	flex-direction: row;
}

#about {
	height: 300px;
	background-color: #512D6D;
}

.parallax {
  background-image: url('./images/parralax.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;

}

.parallax2 {
	background-image: url('./images/parralax.png');
  background-color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

#locate-img {
	width: 50%;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#locate-img img{
	width: 50%;
	height: 50%;
}
#locate-content {
	width: 50%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;

  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/* Slides */
.mySlides {
  display: none;
  margin-top: 50px;
  text-align: center;
  flex-direction: row;
  height: auto;
  justify-content: space-evenly;
}

.slides-card {
	width: 40%;
	padding: 20px;
	box-shadow: 0 0 10px rgb(238 238 238);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
  color: #512D6D;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 990px) {
	.card-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.card {
	  padding: 20px;
	  border: 1px solid rgba(0, 0, 0, 0.15);
	  margin-top: 50px;
	  border-radius: 10px;
	  box-shadow: 2px 2px 14px rgb(0 0 0 / 25%);
	  position: relative;
	  width: 80%;
	  height: auto;
	  margin-right: auto;
	  margin-left: auto;
	  display: block;

	}
}