body {
	margin: 0px;
	padding: 0px;
  font-family: Orbitron;
}

#main {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-image: url('./images/mountains.webp');*/
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/sunsets.jpg');
	z-index: -1;
}

.clock {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-weight: 600;
    font-size: 6em;

    letter-spacing: 7px;
    z-index: 9999;
}

#greetings {
	position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-weight: 1000;
  letter-spacing: 7px;
  z-index: 99999;
  text-align: center;
  color: white;
  width: 100%;
  /*animation: move-up 1s ease-in-out;*/
}

#focus {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  letter-spacing: 7px;
  z-index: 99999;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 30%;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

#focus-value {
  background-color: orange;
    padding: 10px ;
    color: black;
}

#focus-label {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  top: -40%;
}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input, textarea {
  transition: all 0.2s;
  touch-action: manipulation;
  text-align: center;
}

input, textarea{
	font-size: 1em;
	border: 0;
	border-bottom: 1px solid #ccc;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 0;
	cursor: text;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	padding: 12px;
	background-color: transparent;
}

input:focus, textarea:focus  {
  outline: 0;
  border-bottom: 1px solid #666;
}

/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
  cursor: text;
  /*max-width: 66.66%;*/
  white-space: nowrap;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  transform-origin: center;
  transform: translate(0, 2.125rem) scale(1);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(.8);
  cursor: pointer;
}

#greet {
	display: none;
	line-height: 60px;
	font-size: 1.6rem;;
}


#div-quote {
	position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  letter-spacing: 7px;
  z-index: 99999;
  width: 100%;
  text-align: center;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.fa-edit {
  color: white;
  text-decoration: none;
}

.fa-edit:hover {
  font-size: 2em;
}

.btn {
  background-color: #DE8971;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  letter-spacing: .5px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 2px 3px white;
}

#quote-action {
	position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-weight: 600;
  letter-spacing: 7px;
  z-index: 99999;
  width: 20%;
  text-align: center;
  z-index: 9999;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
}

#nav {
	overflow: hidden;
	background-color: transparent;
	left: 0;
	right: 0;
	z-index: 10000;
	top: 10px;
	padding: 30px;
	position: absolute;
	display: none;
	flex-direction: row;
	justify-content: space-between;
}

#nav a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

/* Hide the second piece of text by default */
#nav span {
     display:none;
}

/* Hide the first piece of text on hover */
#nav a:hover i {
     display:none;
}

/* Re-show the second piece of text on hover */
#nav a:hover span {
    display:inline;
    font-size: 1rem;
    font-weight: 1000;
}

#todoList {
	position: absolute;
    top: 10%;
    left: 5%;
    /*transform: translateX(-50%) translateY(-50%);*/
    color: black;
    font-weight: 600;

    z-index: 99999;
    width: 25%;
    height: auto;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    overflow: auto;
    display: none;
    animation: fade-in .5s;
    max-height: 500px;
}

#todoList #add {
	color: black;
	z-index: 999999;
	width: 90%;
}

#add input {
	color: black !important;
}

.green-bg {
  background-color: limegreen;
}

#listHead {
	background-color: orange;
	padding: 15px;
	color: white;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	cursor: move;
	z-index: 10;
  
}
#list {
	padding: 15px;
    display: flex;
    flex-direction: column;
}

#list a {
	padding: 10px;
	text-decoration: none;
}

#listTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#listTable td, #listTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#listTable tr:hover {background-color: #ddd;}

.modalDialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    letter-spacing: 7px;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 40%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalDialog textarea {
  color: black !important;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: orange;
}

/*Media queries*/

@media only screen and (min-width: 280px) and (max-width: 450px) {
  #greet {
    font-size: 1rem;
    font-weight: 1000;
  }
  .clock {
    font-size: 4rem;
  }
  #focus {
    width: 80%;
  }
  #div-quote {
    font-size: .7rem;
    font-weight: 1000;
  }

  #todoList {
    width: 50%;
  }

  #focus-label {
    font-size: .6rem;
    font-weight: 1000;
  }
  .modalDialog > div {
    width: 80%;
  }
}

@media only screen and (min-width: 451px) and (max-width: 768px) {
  #focus {
    width: 80%;
  }
  #todoList {
    width: 50%;
  }

  .modalDialog > div {
    width: 80%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

/*Key frames*/
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}

@keyframes move-up {
	from {
		top: 70%;
	}
}